#footer {
	position:fixed;
	left:0px;
	bottom:5px;
	height:30px;
	width:100%;
	padding: 10px;
	/* background:#ffffff; */
}
	#footer p#name {
		font-size: 12px; float: left; margin: 0 0 0 5px; color: white;
	}
	#footer p#copyright {
		font-size: 12px; float: right; margin: 0 5px 0 0; color: white;
	}
;

	.backgroundImage {
		width: 33%;
		height: 33%;
	}
	.centered {
		position: absolute;
		top: 13%;
		left: 50%;
		transform: translate(-50%, -13%);
	  }

	body {
		background:#73CFF8;
	}
	.container {
		background-color: ivory;
	}
	.rescontainer {
		background-color: #FFE2D2;
		text-align: center;
	}
	@media only screen and (max-width: 640px) {

		.rounded {
			float: none;
			clear: both;
			width: 100%;
			margin-right: 15px;
			
			
		}
		.container-fluid {
			flex-direction: column;
			text-align: center;
		}
		
		.navbar-nav {
			flex-direction: row;
		}
		
	}
	
	@media only screen and (max-width: 768px) {
		.container-fluid {
			flex-direction: column;
			text-align: center;
		}
		
		.navbar-nav {
			flex-direction: row;
		}}
		h1, h2, h3, h4, h5 {
			
			font-family: 'Roboto', sans-serif;
			color: #668EB9;
		}
		p {
			font-family: 'Open Sans', sans-serif;
			color: #646F6F;
		}
	